<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095522775869-nnt8t1dfrijq73tkcmed01dsi8meaf7j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095522775869-nnt8t1dfrijq73tkcmed01dsi8meaf7j</string>
	<key>API_KEY</key>
	<string>AIzaSyDHYP2X6NW-tN3AzvNYtqn6G3ag6NZWclQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1095522775869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kerem.foodOrderApp</string>
	<key>PROJECT_ID</key>
	<string>kovachen-ae2df</string>
	<key>STORAGE_BUCKET</key>
	<string>kovachen-ae2df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095522775869:ios:20b33090f0cd0b40dfcb54</string>
	<key>DATABASE_URL</key>
	<string>https://kovachen-ae2df-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>